.player {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: fit-content;
}

.gray-icon {
  width: 22px;
  margin-left: auto;
  cursor:pointer;
  color: white;
  &:hover{
    stroke :#4d442e
  }
}

.big-icon {
  width: 50px;
  height: 50px;
  color: white;
}

.score-instance{
  display: flex;
  align-items: center;

  &:hover {
    > svg {
      display:block !important;
    }
  
    > div[class*="gray-trash2"] {
      display: block !important;
    }
  }

  > svg {
    display: none;
    margin-left: auto;
    width: 22px;
    cursor:pointer;
    :hover{
      stroke :#747474
    }
  }

  > svg[class*="gray-trash2"] {
    display: none;
    margin-left: 4px;
  }
}

.player-name {
  font-size : 40px;
  font-family: 'CooperBlack', sans-serif;
  border: 1px solid transparent;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 178px;
}

.player-name-focused {
  /* Add your focused state styling here */
  border: 1px solid rgb(255, 255, 255);
  background: white;
  width: 178px;
  font-size: 40px;
  font-family: 'CooperBlack';
  color: rgb(255, 255, 255);
}


.total-score{
  margin: 12px 0px;
  font-size: 50px;
  font-family: 'CooperBlack', sans-serif;
  color: white;
}

input[type="number"]:focus {
  border-color: #ffffff; /* Change border color on focus */
}

input[type="number"]::placeholder {
  color: #ffffff; /* Set placeholder text color */
}

.score-input{
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  stroke: rgb(255, 255, 255);
  height: 20px;
}


@font-face {
  font-family: 'CooperBlack';
  src: url('~/public/fonts/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}