.player {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: fit-content;
}

.gray-icon {
  width: 22px;
  margin-left: auto;
  cursor:pointer;
  &:hover{
    stroke :#747474
  }
}

.big-icon {
  width: 50px;
  height: 50px;
}

.score-instance{
  display: flex;
  align-items: center;

  &:hover {
    > svg {
      display:block !important;
    }
  
    > div[class*="gray-trash2"] {
      display: block !important;
    }
  }

  > svg {
    display: none;
    margin-left: auto;
    width: 22px;
    cursor:pointer;
    :hover{
      stroke :#747474
    }
  }

  > svg[class*="gray-trash2"] {
    display: none;
    margin-left: 4px;
  }
}

.player-name {
  font-size : 40px;
  font-family: 'CooperBlack', sans-serif;
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 178px;
}

.player-name-focused {
  /* Add your focused state styling here */
  border: 1px solid black;
  background: white;
  width: 178px;
  font-size: 40px;
  font-family: 'CooperBlack';
  color: black;
}


.total-score{
  margin: 12px 0px;
  font-size: 50px;
  font-family: 'CooperBlack', sans-serif
}


@font-face {
  font-family: 'CooperBlack';
  src: url('~/public/fonts/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}