.App {
  display: flex;
  flex-direction: column;
}

.logo-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  >svg{
    width: 400px;
    height: 200px;
  }
}

.options-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.options-button {
  background-color: transparent; /* White */
  border: 4px solid #ffffff;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  color:#ffffff;
  width: 160px;
  height: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  &:hover{
    border-color: #4d442e;
    color: #4d442e;
  }
}
.logo {
  fill: white;
  stroke: white;
  width: 400px;
}

.players-box {
  display: flex;
}

.plus-circle {
  width: 75px;
  height: 232px;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: 'CooperBlack';
  src: url('../public/fonts/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

