.App {
  display: flex;
  flex-direction: column;
}

.logo-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.options-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.options-button {
  background-color: #eaeaea; /* Gray */
  border: 4px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover{
    background-color: rgb(221, 221, 221);
  }
}
.logo {
  width: 400px;
}

.players-box {
  display: flex;
}

.plus-circle {
  width: 75px;
  height: 232px;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: 'CooperBlack';
  src: url('../public/fonts/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

